<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.edu.lighthouse.mapper.CardRuleMapper">
  <resultMap id="BaseResultMap" type="com.edu.lighthouse.pojo.CardRule">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="channel_id" jdbcType="INTEGER" property="channelId" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="icon" jdbcType="VARCHAR" property="icon" />
    <result column="rule_code" jdbcType="VARCHAR" property="ruleCode" />
    <result column="start_time" jdbcType="TIMESTAMP" property="startTime" />
    <result column="end_time" jdbcType="TIMESTAMP" property="endTime" />
    <result column="publish_count" jdbcType="INTEGER" property="publishCount" />
    <result column="use_count" jdbcType="INTEGER" property="useCount" />
    <result column="receive_count" jdbcType="INTEGER" property="receiveCount" />
    <result column="use_type" jdbcType="INTEGER" property="useType" />
    <result column="product_type" jdbcType="INTEGER" property="productType" />
    <result column="pre_limit" jdbcType="INTEGER" property="preLimit" />
    <result column="amount_rule" jdbcType="DECIMAL" property="amountRule" />
    <result column="valid_type" jdbcType="INTEGER" property="validType" />
    <result column="valid_start_time" jdbcType="TIMESTAMP" property="validStartTime" />
    <result column="valid_end_time" jdbcType="TIMESTAMP" property="validEndTime" />
    <result column="valid_days" jdbcType="INTEGER" property="validDays" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="cerater" jdbcType="VARCHAR" property="cerater" />
    <result column="last_udpate_time" jdbcType="TIMESTAMP" property="lastUdpateTime" />
    <result column="last_update_user" jdbcType="VARCHAR" property="lastUpdateUser" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
    -->
    id, channel_id, title, icon, rule_code, start_time, end_time, publish_count, use_count, 
    receive_count, use_type, product_type, pre_limit, amount_rule, valid_type, valid_start_time, 
    valid_end_time, valid_days, status, remark, create_time, cerater, last_udpate_time, 
    last_update_user
  </sql>
</mapper>