<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.edu.lighthouse.mapper.RuleInfoMapper">

    <resultMap id="ruleInfoMap" type="com.edu.lighthouse.pojo.RuleInfo">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="channel_id" jdbcType="INTEGER" property="channelId" />
        <result column="title" jdbcType="VARCHAR" property="title" />
        <result column="detail" jdbcType="VARCHAR" property="detail" />
        <result column="icon" jdbcType="VARCHAR" property="icon" />
        <result column="use_type" jdbcType="INTEGER" property="useType" />
        <result column="discount" jdbcType="DECIMAL" property="discount" />
        <result column="sale_price" jdbcType="DECIMAL" property="salePrice" />
        <result column="pre_limit" jdbcType="INTEGER" property="preLimit" />
        <result column="status" jdbcType="INTEGER" property="status" />

        <result column="product_type" jdbcType="INTEGER" property="product.productType" />
        <result column="product_status" jdbcType="INTEGER" property="product.productStatus" />
        <result column="product_desc" jdbcType="VARCHAR" property="product.productDesc" />
        <result column="stand_price" jdbcType="DECIMAL" property="product.standPrice" />


    </resultMap>
    
    <sql id="rule_column_list">
        rule.id as id,
        rule.channel_id as channel_id,
        rule.title as title,
        rule.detail as detail,
        rule.icon as icon,
        rule.use_type as use_type,
        rule.discount as discount,
        rule.sale_price as sale_price,
        rule.pre_limit as pre_limit,
        rule.status as status,
        rule.create_time as create_time,
        rule.product_type as product_type,
        pro.product_desc as product_desc,
        pro.product_status as product_status,
        pro.stand_price as stand_price

  </sql>
    <select id="ruleList" parameterType="com.edu.lighthouse.pojo.vo.RuleInfoVo" resultMap="ruleInfoMap">
        select
        <include refid="rule_column_list"/>
        from card_rule rule
        inner join card_bd_product pro on rule.product_type = pro.product_type
        where 1=1
      <if test="ruleId != '' and ruleId != null">AND rule.id = #{ruleId}</if>
      <if test="channelId != '' and channelId != null">AND rule.channel_id =  #{channelId}</if>
      <if test="ruleStatus != '' and ruleStatus != null">AND rule.status = #{ruleStatus}</if>
  </select>
</mapper>